NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzgwMTc5Mjc5LCJleHAiOjE5Mzc4NTkyNzl9.WQvCAWWScCUvV2UQjGS7WStM58JWpLuLqm_WRD8F144
